<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gamestore.dao.CategoryMapper">
    <select id="findAll" resultType="com.example.gamestore.entity.Category">
        SELECT id, name, description, sort FROM t_category ORDER BY sort ASC, id ASC
    </select>
</mapper>
